<!DOCTYPE html>
<html>
    <head>
        Page de login
    </head>
    <body>
        <hr>
        <button id = "login">login</button>
        <button id = "logout">logout</button>
    </body>
    <script src = "/vendor.bundle.base.js"></script>
    <script>src = "/login.js"</script>
</html>