<!DOCTYPE html>
<html>
    <head>
        Page comportant un lien dangereux (cette page n'est accessible qu'en étant connecté)
    </head>
    <body>
        <hr>
        <a href = /virement/1/2>gagne 1 million d'euros</a>
    </body>
</html>